name: Release Image

on:
  workflow_dispatch:
  push:
    # branches:
    #   - "main"
    # tags:
    #   - "v*.*.*"

env:
  # TODO Remove before create pr
  IMAGE_NAME: ghcr.io/educorg/docker-stack-deploy

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-version: [28, 29]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.IMAGE_NAME }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          flavor: |
            suffix=${{ matrix.docker-version != '29' && format('-docker-{0}', matrix.docker-version) || '' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            "DOCKER_IMAGE_TAG=${{ matrix.docker-version }}-cli"
